/* registerpage */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{ 
    background:#0c192c;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles
{
    position: relative;
    display: flex;
}
.bubbles span
{
    position: relative;
    width: 300px;
    height: 100px;
    background:#ffffff;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #b9b9bb44,
    0 0 50px #ffffff,
    0 0 100px #ffffff;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even)
{
    background:#000000;
    box-shadow: 0 0 0 10px #5c575944,
    0 0 50px #000000,
    0 0 100px #000000;
}
@keyframes animate
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}


.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
}

.center-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4fc3dc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 160px;
    height: 60px;
    margin: 36px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}


.center-button:hover {
    background-color: #3a9abf;
}



form p label {
    color: white;
}


form p input[type="text"][name="phone_num"] {
    width: 205px; 
}


.button-container button[type="submit"] {
    background-color: #007BFF; 
    color: white; 
    padding: 10px 20px; 
    font-size: 16px;  
    border: none; 
    border-radius: 4px;
    cursor: pointer; 
    display: block; 
    margin: 20px auto; 
    width: 200px; 
}